@import 'bootstrap-responsive';
@import 'bootstrap';

/*INDIVIDUAL PAGE CSS*/

.faq .purp_text {
  max-width: 960px;
  color: #A1109F;
  font-family: courier new,courier,monospace;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  line-height: 0;
  border: 5px solid #efefef;
  border-radius: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  a{
    color: #A1109F;
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
  h4 {
    text-decoration: none;
  }
  h2 {
    text-decoration: underline;
  }
}

.faq h4 {
  text-decoration: underline;
  margin-top: 20px;
}

.faqimg {
  margin-top: 20px;
  display: inline;
  float: right;
  z-index: -1;
}

.hidden {
  display: none;
}

.faq ul {
  list-style-type: none;
}

.nav li {
  padding: 5px;
}

.headersocialnav {
  margin-top: 23px;
}

.btn{
  margin: 0 5px;
}

#log_in_form {
  text-align: center;
  line-height: -1em;
  border: 10px solid #efefef;
  border-radius: 40px;
  margin-bottom: 15px;
}

#imglog {
  height: 25%;
}

#login-row {
  margin-bottom: 10px;
}

#login-btn {
  margin-right: 35px;
}

/* NEW SUBSCRIBER FORM */
.create_form {
  text-align: center;
  line-height: 0;
  border: 5px solid #efefef;
  border-radius: 40px;
  margin-bottom: 10px;

  h4 {
    text-decoration: underline;
  }
}

#dropdown{
  width: 0;
}

/*SUBSCRIBER SHOW PAGE*/
.showinfo {
  text-align: center;
  line-height: 0;
  border: 5px solid #efefef;
  border-radius: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#show_greeting {
  text-align: center;
}

table {
  margin: 0 auto;

  td {
    text-align: left;
    line-height: 2em;
  }
}

#show_form_bottom {
  margin-top: 10px;
}

.ph-form {
  margin-bottom: 10px;
}

#paperheart_subscriber_form {
  margin-top: 75px;
  margin-bottom: 25px;
}


/* SUBSCRIBER LISTING PAGE */

#subscriber-list {
  border: 5px solid #efefef;
  border-radius: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;

  h2{
    text-align: center;
    text-decoration: underline;
  }

  table {
    text-align: left;
  }
  td, tr{
    padding: 0 5px;
  }
}

/* LOGIN FORM */


















